{% extends "base.html" %}


{% block content %}

<body>
        <div class ="sign_up_cont">
          <form method="POST">

            <p>Вход</p>
            <div class ="element_s_up">
              <label for="title">Name</label>
              <!--label id="cont_error_msg">{{name_error}}</label!-->
              <input id="name_field" type="text" name="user_name" placeholder="Enter your name"></input>
            </div>
            <div class ="element_s_up">
              <label for="title">Password</label>
              <!--label id="cont_error_msg">{{name_error}}</label!-->
              <input id="name_field" type="text" name="user_password" placeholder="Enter your name"></input>
            </div>  
            <div class="element_s_up btn-cont">
              <button class="s_up_btn" type="submit">Submit</button>
            </div>
          </form>
        </div>
</body>

{% endblock %}

{% block misc_content %}

{% endblock %}