{% extends "base.html" %}


{% block content %}

<body>
  <div class="sign_up_cont">
    <form method="POST">
      {{my_form.hidden_tag()}}
      <p>Вход</p>
      <div class="element_s_up">
        {{my_form.user.label()}}
        <span id="name_field">{{my_form.user()}}</span>
      </div>
      <div class="element_s_up">
        {{my_form.passwd.label()}}
        <span id="name_field">{{my_form.passwd()}}</span>
      </div>
      <div class="element_s_up btn-cont">
        <span class="s_up_btn"> {{my_form.submit_btn()}} </span>
      </div>
    </form>
  </div>
</body>

{% endblock %}

{% block misc_content %}

{% endblock %}