{% extends "base.html" %}

<html>


{% block content %}
<div class="info-cont border_blue">
    <div class="left_info_cont border_blue">
        <object class="cont_no_image border_blue" data="{{ url_for('static', filename='/images/no_pic.jpg') }}"
            type="image/png">
            <img src="" alt="profile picture of {{persona['Name']}}">
        </object>
        <div class="cont_name border_blue">
            <h1 class="border_blue">{{persona["Name"]}}</h1>
        </div>
    </div>
    <div class="about_info_cont">
        <h3>About me</h3>
        <p class="text_info_cont">
            {{persona["Info"]}}
        </p>
        <h3>Recent activites</h3>
        <p class="text_info_cont">
            {{persona["ScheduleDestination"]}}
        </p>
    </div>
</div>

{% endblock %}

{% block misc_content %}

{% endblock %}

</html>