{% extends "base.html" %}


{% block content %}

<body>
    <form method="post">
        <label for="title">Title</label>
        <br>
        <input type="text" name="user_name" placeholder="Enter your name"></input>
        <br>
        <label>{{name_error}}</label>
        <label for="content">Message Content</label>
        <br>
        <label for="cars">Select your gender</label>
        <select id="cars" name="user_gender">
          <option value="0">f</option>
          <option value="1">m</option>
        </select> 
        <br>
        <button type="submit">Submit</button>
    </form>
    <h1>{{message}}</h1>
</body>

{% endblock %}

{% block misc_content %}

{% endblock %}