<!DOCTYPE html>

<html>

<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="static/css/styles.css">
</head>

<body>
	<nav class="nav-bar ">
		<div class="logo">
			Список студентов
		</div>

		<div class="log-sig-buttons">
			<span><a href="">Войти</a></span>
			<span><a href="">Регистрация</a></span>
		</div>
	</nav>

	<div class="find-pannel main-containers">
		Тут будут кнопки поиска людей
	</div>

	<div class="table-containeer main-containers">
		<table>
			{% for post in posts %}
			{% if post["Name"]!="Unknown" %}
			<tr>
				<td>{{post["Name"]}}</td>
				<td>{{post["BreastSize"]}}</td>
				<td>{{post["Info"]}}</td>
			</tr>
			{% endif %}
			{% endfor %}
	</div>
</body>

</html>